
### Assignment 1
1 point, 10 lines

`random.randint(a, b)` function generates 1 random integer number from `a` to `b`

<b>To do:</b> Get random elements from given list

#### Answer 1

In [14]:
import random
a = [1, 2, 3, 7, 4, 8, 9, 6, 5, 11, 12]
random.sample(a, 4)
 
# TODO. Get 4 random unique elements from list `a`

[7, 1, 8, 11]

<br />
<br />
<br />

### Assignment 2
4 points, 40 lines

<b>To do:</b> Write following function. Function takes two 4-len lists, e.g. `a = [1, 2, 3, 4]` and `b = [3, 2, 0, 0]`. Function should return two values.

1. 2 points: How many elements from list `b` exist in list `a`.
2. 2 points: How mane elements from list `b` existing in list `a` are in same positions as well.

E.g. for our `a` and `b`, the return should be `2, 1`

#### Answer 2

In [286]:
a = [1, 2, 3, 4] 
b = [3, 2, 0, 0]
def compare(a, b):
    print(len(set(a) & set(b)))
    #print(set(a) & set(b))
    #c=[]
    #for i in range(len(a)):
       # for j in range(len(b)):
           # if a[i]==b[j]:
                #c.append(i)
    #print(len(c))
                #print(i)
                #print(a[j])
    return sum([len(set(t)) <= 1 for t in zip(a,b)])
    
compare(a, b)

2

1

<br />
<br />
<br />

### Assignment 3
5 points, 50 lines

Match dictionaries. Function get two dictionaries where keys are any strings and values are 2-len lists (coordinates).

The return should be a new dictionary with keys from first list, values should be the keys of closer items from second list.

example.

`a = {'a': [1, 1], 'b': [2, 2]}`
`b = {'c': [1.1, 1.1], 'd': [2.2, 2.2]}`

return `{'a': 'c', 'b': 'd'}`

#### Answer 3

In [120]:
a = {'a': [1, 1], 'b': [2, 2]}
b = {'c': [1.1, 1.1], 'd': [2.2, 2.2]}
def compare(a,b):
    e ={}
#c=[]
    for key, value in a.items():
        c=[]
        for key1, value1 in b.items():
        #c=[]
            c.append((value[0] - value1[0])**2+ (value[1] - value1[1])**2)
            
        #print(c)
        #print(key1)
        #print(min(c))
        
        e[key] = min(c)
        
    return e
       
# patasxany sxal e, bayc avel chem kara anem)))    
compare(a,b)

{'a': 0.020000000000000035, 'b': 0.08000000000000014}

<br />
<br />
<br />

### Assignment 4
5 points, 50 lines

Function get two arrays of 2d coordinates.

The return should be distansions matrix

example.

`a = [[1,2],[3,4]]`, `b = [[4,6],[7,8],[9,10]]`

`return [[ 5.        ,  8.48528137, 11.3137085 ],
         [ 2.23606798,  5.65685425,  8.48528137]]`
      
Note: full score only for 1-line code. Use `np.substract.outer`

#### Answer 4

In [301]:
import numpy as np
a = [[1,2],[3,4]]
b = [[4,6],[7,8],[9,10]]
def distances(a, b):
    c=[]
    for i in a:
        #c=[]
        for j in b:
            #c=[]
            c.append(((i[0] - j[0])**2+ (i[1] - j[1])**2)**0.5) 
            #or 
            matix = (np.add.outer(i[0], -j[0]) ** 2 + np.add.outer(i[1], -j[1]) ** 2)**0.5
            print(matix)
    return c
distances(a,b)

5.0
8.48528137424
11.313708499
2.2360679775
5.65685424949
8.48528137424

[5.0,
 8.48528137423857,
 11.313708498984761,
 2.23606797749979,
 5.656854249492381,
 8.48528137423857]

<br />
<br />
<br />

### Assignment 5
5 points, 50 lines

Using `pandas`

We have dataframe `a`

In [118]:
import pandas as pd

a = pd.DataFrame([['Hello', 1, 256], ['Good bye', 15.89, 9], ['Hello', 'World', 4000]])
a

          0      1     2
0     Hello      1   256
1  Good bye  15.89     9
2     Hello  World  4000

<b>To do:</b> Create a.txt file with the following text, looking like table

In [16]:
print('''
Hello  Good bye  Hello
1      15.89     World
256    9         4000
''')

Hello  Good bye  Hello
1      15.89     World
256    9         4000

#### Answer 5

In [17]:
a_trans = a.T
a_trans = a_trans.astype(str)  
for column in a.columns:
    max_lengt = a_trans[column].map(len).max()
    a_trans[column] = a_trans[column].map(lambda x: x.ljust(max_lengt))
rows_list = a_trans.to_string(header=False,
                        index=False,
                        index_names=False).split('\n')    
with open('a.txt', 'w') as f:
    for row in rows_list:
        f.write(row + '\n')